<%- include('partials/header') %> 

<div class="jumbotron center changingDiv" style="background-image: url('../images/aboutUs2.jpg');">
    <h3 class="display-4" style="color: white;">About Us</h3>
</div>

<div class="container center" style="margin-top: 15px;">
    <p style="font-size: 30px;">Faster Appointment📋, Rapid Cure ✅ </h3><hr>
</div>

<div class="container">
    <div>👉 Interactive website where central database is used which allows unified booking of appointments with doctors or OPDs.</div>
    <div>👉 This website is used to find the hospitals belonging to a particular department and then the doctors which work in the hospitals belonging to a certain department.</div><br>
    <div>👉 A guide on how this website works is as follows:
        <div>1. Home page consists the various departments that can be contained within hospitals.</div><br>
        <div>2. On clicking a particular department, a list of tests that are present within a department appears. A list of hospitals belonging to a particular department also shows up.</div><br>
        <div>3. On each hospital card, there's a button labelled "Visit Hospital". Then the website does the basic authentication to check whether the user has filled valid credentials logging in. After logging in, you are redirected to a new page containing information about the official website of the hospital(so that user can check the authenticity of data). Another button to visit the google map of the particular hospital is also present.</div><br>
        <div>4. On the same page, seven cards corresponding to the next seven days are present which has two buttons. "Book OPD Appointment" button is used to book the appointment of OPD  whereas "Book Doctor's Appointment" is used to book the appointment of doctor.</div><br>
        <div>5. On clicking the "Book OPD appointment" button, the user is redirected to the page which displays the appointment details with an option to download acknowledgement as a kind of appointment insurance.</div><br>
        <div>6. On clicking the button "Book Doctor's appointment", user is redirected to a page which consists of the specialities a particular hospital possess. On clicking one of them, user is redirected to another page that consists of a list of doctors alongwith their information like name, rating and availability. On clicking "Book Appointment", another page opens that shows availability in detail with green button and red button that denotes availability and non-availability respectively. </div><br>
        <div>7. After booking doctor's appointment, another page opens that displays doctor's name, the department to which he/she belongs and the name of hospital where appointment has been booked. Appointment details also includes the patient's credentials like name, age and phone number. Also, the user can download acknowledgement as an insurance that appointment has been done successfully.</div><br>
        <div>8. This is a multi-page dynamic website that also includes a "Tests" dropdown in navbar that displays all the tests that can belong to various departments for user convenience.</div>
    </div>
</div>

<%- include('partials/footer') %> 