<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add tests</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>

</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Add Test</h1>        
            <br>
            <form action="/add_department", method="POST">

                <div class="form-group">
                    <label>Department Id</label>
                    <input type="text" class="form-control" name="deptId">
                </div>
                <div class="form-group">
                    <label>Department Name</label>
                    <input type="text" class="form-control" name="deptName">
                </div>
                <div class="form-group">
                    <label>Treatment Name</label>
                    <input type="text" class="form-control" name="treatmentName">
                </div>
                <div class="form-group">
                    <label>Treatment Price</label>
                    <input type="text" class="form-control" name="treatmentPrice">
                </div>
                
                <button type="submit" class="btn btn-warning btn-lg" name="deptButton">Add</button>

            </form>
        </div>
    </div>
    
</body>
</html>