
<%- include('partials/header') %>     

<div class="jumbotron img_jumbo wide" style="background-image: url('images/appoint3.jpeg')">
        <h1 class="display-3">Faster Appointment, Rapid Cure</h1>
        <p style="font-size: 30px;">Appointments made easy</p>
</div>

<div class="jumbotron transparent no_margin">
    <div class="center">
        <!-- animation has been removed for now coz it wasn't working fine -->
        <h2>We care!</h2>
        <p style="font-size: 20px;">We are fully focused to serve our best.</p>    
    </div>
</div>

<div class="jumbotron center departments" >
    <h1 class="display-4">Departments</h1>
</div>

<div class="gap">
    <%- include('../views/deptName.ejs') %> 
</div>
<%- include('partials/footer') %> 