<nav class="navbar navbar-expand-md navbar-dark bg-dark ">

    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/" style="padding-left: 20px;" >FARC</a>

    <div class="collapse navbar-collapse" id="collapse_target">
        
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            
            <%- include('../views/testDropdown.ejs') %>

            <li class="nav-item">
                <a href="/aboutUs" class="nav-link">About Us</a>
            </li>
            
            <li class="nav-item">
                <a href="/contactUs" class="nav-link">Contact Us</a>
            </li>

            <li class="nav-item" style="padding-left: 10px;">
                <a href="/user" class="fa fa-user" style='font-size:36px; color: beige;'></a>
            </li>

        </ul>
    </div>

</nav>