
    <footer style="margin-top: 200px;">
        <div class="col">
            <p class="list-heading">Catch us on Social Media</p>
            <ul class="footer-list">
                <li><a href="https://github.com/rajnish1999" class="fa fa-github icon_class hover_none"></a></li>
                <li><a href="https://www.facebook.com/rajnishtiwari1999/" class="fa fa-facebook icon_class hover_none"></a></li>
                <li><a href="https://www.linkedin.com/in/rajnish-tiwari-1a4bb515b/" class="fa fa-linkedin icon_class hover_none"></a></li>        
            </ul>
        </div>
        <div class="col">
            <p class="list-heading">Our Services</p>
            <ul class="footer-list">
                <li>Appointment of OPDs</li>
                <li>Appointment of Doctors</li>
                <li>Medicines related to each department</li>
                <li>Doctor Recommendation System</li>
                <li>Availability of nearest hospital</li>
                <li>Patient's portal</li>
                <li>Cancellation of appointments</li>
            </ul>
        </div>
        <div class="col">
            <p class="list-heading">Contact Us</p>
            <ul class="footer-list">
                <li>Phone. 9873125207</li>
                <li>rajnishtiwarihrt@gmail.com</li>
            </ul>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!-- it is important to keep the jquery file before bootstrap file in order to do the collapse functionality -->
</body>
</html>